In [ ]:
import pandas as pd 
import numpy as np 
from matplotlib.pyplot as plt

In [2]:
x = "348234 234766".split()

print(sum(map(int,x )))

583000

In [74]:
## collect

data = open("./file/collect.txt").read().splitlines()

size = data[0]
data = [int(i) for i in data]

In [75]:
data[-1]

525

In [80]:
## collect

data = open("./file/collect.txt").read().splitlines()
# data = [4,1,2,3,4]
# data = [5,10,5,10,5,20]

size = data[0]
data = [int(i) for i in data]
base = abs(data[1])
previous = data[1]

print("start", base)

for i in data[2:]:
    if abs(i) <= 1000:
        base += abs(i - previous)
        print(previous, i,i - previous,base)
        previous = i

start 25
-25 6 31 56
6 16 10 66
16 39 23 89
39 78 39 128
78 89 11 139
89 -157 -246 385
-157 -165 -8 393
-165 -123 42 435
-123 -155 -32 467
-155 -202 -47 514
-202 -220 -18 532
-220 -189 31 563
-189 -238 -49 612
-238 -277 -39 651
-277 -262 15 666
-262 -291 -29 695
-291 -299 -8 703
-299 -558 -259 962
-558 -571 -13 975
-571 -173 398 1373
-173 -200 -27 1400
-200 -237 -37 1437
-237 -625 -388 1825
-625 -665 -40 1865
-665 -780 -115 1980
-780 -808 -28 2008
-808 -804 4 2012
-804 -818 -14 2026
-818 -845 -27 2053
-845 124 969 3022
124 141 17 3039
141 139 -2 3041
139 151 12 3053
151 140 -11 3064
140 189 49 3113
189 212 23 3136
212 219 7 3143
219 866 647 3790
866 837 -29 3819
837 872 35 3854
872 872 0 3854
872 848 -24 3878
848 813 -35 3913
813 369 -444 4357
369 324 -45 4402
324 329 5 4407
329 347 18 4425
347 370 23 4448
370 -173 -543 4991
-173 -855 -682 5673
-855 -892 -37 5710
-892 -939 -47 5757
-939 -289 650 6407
-289 -269 20 6427
-269 -265 4 6431
-265 -245 20 6451
-245 -629 -384 6835
-629 -637 -8 6843
-637 -590 47 6890
-590 -568 22 6912
-568 -569 -1 6913
-569 546 1115 8028
546 552 6 8034
552 545 -7 8041
545 574 29 8070
574 534 -40 8110
534 486 -48 8158
486 486 0 8158
486 -263 -749 8907
-263 -215 48 8955
-215 -259 -44 8999
-259 -222 37 9036
-222 651 873 9909
651 649 -2 9911
649 684 35 9946
684 657 -27 9973
657 -721 -1378 11351
-721 133 854 12205
133 133 0 12205
133 147 14 12219
147 176 29 12248
176 189 13 12261
189 164 -25 12286
164 186 22 12308
186 215 29 12337
215 214 -1 12338
214 638 424 12762
638 677 39 12801
677 -120 -797 13598
-120 -145 -25 13623
-145 -112 33 13656
-112 -151 -39 13695
-151 456 607 14302
456 448 -8 14310
448 480 32 14342
480 501 21 14363
501 550 49 14412
550 559 9 14421
559 525 -34 14455

In [81]:
base

14455

### Futher

In [ ]:
## collect

data = open("./file/furthest.txt").read().splitlines()

size = data[0]
# data = [int(i) for i in data]

ValueError: invalid literal for int() with base 10: '4567 7241'

In [ ]:
size

NameError: name 'sie' is not defined