### If Else stagement

In [ ]:
#introduct to If else elif

In [ ]:
if (condition): # if with condition which is True of False 
    pass #the operation after if condition

In [ ]:
x = 10
if x == 1: #condition is x = 1 
    print("This value is 1")
else:
    print("This value is not 1")

##### But how to write a condition on python

In [ ]:
#we all know about ตรรกศาสตร์ for a basic like ex. x and y || a or b

In [ ]:
# Equal 
10 == 10

In [ ]:
# not Equal 
1 != 1

In [ ]:
# Less than
10 < 20

In [ ]:
# Less than to Equal 
10 <= 10

In [ ]:
# Greater than
20 > 10

In [ ]:
# Greater than to Equal 
10 >= 11

In [ ]:
# But logic gonna have a and or or and xor as we know right ? 
# Ok here it's is 

# and or both use for concat between 2 condition

In [ ]:
10 > 6 and 10 != 2

In [ ]:
10 > 6 or 10 != 2

In [ ]:
#We gonna use this condition into if else 

#example odd or even 
# Q: how to know number is even or odd ? 
# A: Divide by 2 -> if result = 0 is even and result = 1 is odd

# then write the code

### Boolean Order

| Precedence | Operator | Description |
| --- | --- | --- |
| 1 | `not` | Logical NOT (unary) |
| 2 | `and` | Logical AND |
| 3 | `or` | Logical OR |

In [ ]:
not True and False or True

In [1]:
x = 10
not x < 10 or x != 10 and x % 2 == 0

True

#### IF

In [ ]:
#basic program with odd and even
number = 10
if number % 2 == 0:
    print("This number is even")
else:
    print("This number is odd")

In [1]:
# For this didn't know the condition can use as True or False that mean if use function with return True or False it's work
def check_is_even(nums):
    if nums % 2 == 0:
        return True
    else:
        return False
    
if check_is_even(11):
    print("this is even")
else:
    print("this is odd")

this is odd

##### Elif

In [2]:
N = 10
if N >= 10:
    print("more than 10")
elif N > 5:
    print("less than 5")
else:
    print("Unknow")

more than 10

In [ ]:
# what not use if 
N = 10
if N >= 10:
    print("more than 10")
else: 
    pass

if N > 5:
    print("less than 5")
else:
    print("Unknow")

more than 10
less than 5

In [ ]:
### Run style 
## use match instead of if else on multiple condition
operation = "+" # + - * / 
match operation:
    case "+":
        print("++")
    case "-":
        print("--")
    case "*":
        print("**")
    case "/":
        print("//")
    case _ :
        print("Unknow operation")

In [ ]:
operation = "+"
if operation == "+":
    print("++")
if operation == "-":
    print("--")
if operation == "*":
    print("**")
if operation == "/":
    print("//")

#### For loop While Loop

In [16]:
for i in range(0,30,5):
    print(i)

0
5
10
15
20
25

In [18]:
[i for i in range(4)]

[0, 1, 2, 3]

In [ ]:
number = 0
while number < 10:
    print(number)
    number += 1

0
1
2
3
4
5
6
7
8
9

In [19]:
lst = [6,7,8,9,10]
for value in lst:
    print(value)

6
7
8
9
10

In [ ]:
# For While Continue Break pass
# write for loop in short form [i for i in split if i == 0]

In [25]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
    if i == 5:
        continue

    dsadasdas
    print(i)

0
1
2
3
4
6
7
8
9

##### Short form loop

In [ ]:
rst = []

for i in range(25): #0 -> 24
    if i % 2 == 1:
        rst.append(float(i))
rst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
rst = [float(i) for i in range(25) if i % 2 == 0]
rst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
total = 0 
for i in range(1,3):
    total += i

sum([i for i in range(1,10)  if i % 2 == 1])

In [ ]:
# Nested Loop is loop inside a loop aka. double loop 
## Often saw on problem solving with loop - array