### Basic Python Print

In [8]:
#Print 
print("Hello world")

Hello world

In [9]:
print("Hello", "World")
print("Hello", "World", "Run")

Hello World
Hello World Run

In [10]:
print("Hello",end="")
print("Hello",end="\n")
print("Hello",end="\t")
print("Hello",end="")

HelloHello
Hello	Hello

In [11]:
print("Helloworld") #using double quote 
print('Hellworld') #using single quote

Helloworld
Hellworld

In [12]:
# raws string -> special type of string that allows you to include backslashes

print("Hello, \\/\\/KU68\\/\\/")
print(r"Hello, \/\/KU68\/\/")

Hello, \/\/KU68\/\/
Hello, \/\/KU68\/\/

#### Escape sequence

In [ ]:
print("\")
print("/")

In [13]:
print("\\")

\

In [14]:
print("\\")
print("\'")
print("\"")
print("\n")
print("\t")

\
'
"

In [15]:
# Format string 
# formats the specified value(s) and insert them inside the string's placeholder. 

name = 'Run'
print(f"Hello my name is {name}")

Hello my name is Run

In [16]:
print("Hello my name is", name)

Hello my name is Run

In [17]:
pi = 3.141592
print(f"Pi value is {pi}")
print(f"Pi value is {pi:.2f}") #ปัดทศนิยมตามหลักเลขนัย 


smth_val = 12
print(f"Pi value is {smth_val:3d}")
print(f"Pi value is {smth_val:03d}")

name = "Arthur"
print(f"|{name:<20}|")
print(f"|{name:^20}|")
print(f"|{name:>20}|")

Pi value is 3.141592
Pi value is 3.14
Pi value is  12
Pi value is 012
|Arthur              |
|       Arthur       |
|              Arthur|

In [18]:
print(f"Pi value is |{pi:^20.2f}|")

Pi value is |        3.14        |

#### Input

In [19]:
a = input() #base value is on base 10 charactor

In [ ]:
a = input("Some text for descript the input")
type(a)

In [ ]:
radius = int(input("Radius of circle")) #turn base 10 into int - number
type(radius)

#### Init valuable
1. ต้องขึ้นต้นด้วยตัวอักษร A-Z, a-z หรือเครื่องหมาย _ (Underscore) เท่านั้น 
2. ภายในชื่อตัวแปรสามารถใช้ตัวอักษร A-Z, a-z, 0-9 หรือเครื่องหมาย  _ (Underscore)
3. ภายในชื่อห้ามเว้นช่องว่างหรืออักษรพิเศษ 
4. Case Sensititive – ตัวอักษรพิมพ์ใหญ่และพิมพ์เล็กจะมีความหมายต่างกัน 
Ex. HEllO != HELLO
5. คำที่เป็น command ของ python : if else False True or while for with class list

In [20]:
A = 123
a = 3
A, a  # 4 case sensitive

(123, 3)

In [ ]:
1B = 5 #valuable ขึ้นต้นด้วยตัวเลขไม่ได้
hello world = "dsad"
Hello()wor = 123
Myname-is-run = 'Runnies'
if = 5 #value เป็น command python mai dai

#### Data Type 
1. Int (inmutable)
2. Float (inmutable)
3. String (inmutable)
4. List (mutable)
5. Tuple (inmutable)
6. Dict (mutable)
7. Sets (mutable)
8. Boolean (inmutable)

In [21]:
x = 3.13
type(x) #check the type of valueable

float

In [22]:
type(3.13) #check the type of valueable

float

In [23]:
x = 3.14
print(x) #3.14 
print(int(x)) #turn into int -> not have decimal

3.14
3

In [24]:
type([1,2,3,4])

list

#### Archimetric

In [25]:
# + - * / 
print(5+5)
print(6-5)
print(12*5)
print(2**5)
print(12/4) 
print(12 // 5)
print(12 % 5)
print( (10 - 4) * 2)

10
1
60
32
3.0
2
2
12

In [26]:
2 ** 2 ** 3 #exponential order from right to left

256

In [27]:
print(2 ** (2 ** 3))
print((2 ** 2) ** 3 )

256
64

##### Reference Value (mutable vs inmutable)

In [ ]:
# Python, integers are immutable
# If you want x and y to share the same mutable value (like a list, dict, set)

In [28]:
# integer (inmutable)
x = 10 
y = x 
x += 1 
x, y

(11, 10)

In [29]:
x = [10] #mutable 
y = x
x[0] += 1 
x, y

([11], [11])

In [6]:
3 % 5

3

In [7]:
 10 // 3 % 5 // 2

1

In [4]:
10 //3

3

In [3]:
5 // 2

2