#### Data type

In [ ]:
# Python list      
# Negative indexing 
# Slicing of a list

# Add elements to a list
# Change list items (with index)
# Remove
# List Method - Operation

# Iteration with list

In [ ]:
# Tuple 
# like list but can't change

In [ ]:
# String

# Negative index and slicing
# immutable
# Multiline

# operations -> compare & join (concat + , join)
# iteration
# Format string

#### String

In [ ]:
# String จะใช้ double quotes  && single quotes ครุมตัวอักษร But จะคุมเเค่บรรทัดเดียว only
string = "Hello" 
string = 'Hello'


#use triple double string to turn text 
string = """Helloworld
what is 
this"""

In [3]:
string

'Helloworld\nwhat is \nthis'

In [ ]:

string = "he #จะ init value ไม่ได้ 
llo"

# case sensitive 
string = "Hello " world " #string เป็นอันเดียวกันเเล้วไม่ครบจะไม่ได้
string = "Hello"" "

In [4]:
#Join - concat string
text = ""

text += "Hello"
# text = text + "Hello"
text

'Hello'

In [5]:
text = "123" + text
text

'123Hello'

In [6]:
text = text + "123" 
text

'123Hello123'

In [ ]:
print(text)
len(text) #lenght of text

In [7]:
#Join string
lst_str = ["1.first", "2.Second","3.Third"] #init list of string
# print all the string in the list
print(" ".join(lst_str))

1.first 2.Second 3.Third

In [8]:
print("\n".join(lst_str))

1.first
2.Second
3.Third

In [9]:
print(", ".join(lst_str))

1.first, 2.Second, 3.Third

In [13]:
lst_str

['1.first', '2.Second', '3.Third']

In [14]:
for i in lst_str:
    print(i,end=", ")
# print(lst_str[-1])

1.first, 2.Second, 3.Third,

In [15]:
#Slding - indexing
String_idx = "MyNameIsRun"
for index in range(len(String_idx)):
    print(f"{index} : {String_idx[index]}")

0 : M
1 : y
2 : N
3 : a
4 : m
5 : e
6 : I
7 : s
8 : R
9 : u
10 : n

In [16]:
String_idx[8:]

'Run'

In [17]:
# start -> start + 1
String_idx[2:8]

'NameIs'

In [20]:
reversed_string = String_idx[::-1] #also can use with list 
reversed_string

'nuRsIemaNyM'

In [21]:
lst = [1,2,3,4,5,6,7]
print(lst)
print(lst[::-1])

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
lst.reverse()
lst

In [25]:
text = "Hello Hell"
replace_text = "ell"
text.replace("ell", '[ell]')

'H[ell]o H[ell]'

In [24]:
print(String_idx)
print(String_idx.replace("Run","Frank"))
print(String_idx.replace("Run.","Frank"))

MyNameIsRun
MyNameIsFrank
MyNameIsRun

In [26]:
print("dsad dsadasdd dsda".replace(" ",""))

dsaddsadasdddsda

In [27]:
# for loop with text 
# concept like for loop in list but each value represent charactor 

for char in "Hello world":
    print(char)

H
e
l
l
o

w
o
r
l
d

In [28]:
Charactor_operation = String_idx[5]
Charactor_operation

'e'

In [ ]:
print(Charactor_operation.isalpha()) #alphanumeric
print(Charactor_operation.isalnum()) #alphabet
print(Charactor_operation.isdecimal()) #decimals
print(Charactor_operation.isdigit()) #is number
print(Charactor_operation.islower()) #lower case 
print(Charactor_operation.isupper()) #upper case
print(Charactor_operation.isnumeric()) #numeric
print(Charactor_operation.isspace()) #space 
print(Charactor_operation.istitle()) 
print(Charactor_operation.isascii())#characters
print(Charactor_operation.isidentifier())

In [31]:
Charactor_operation

'e'

In [29]:
Charactor_operation.upper()
Charactor_operation.lower()

#text 
Charactor_operation.startswith("2")
Charactor_operation.endswith("e")

True

In [36]:
# stirng * int 
"Hello" * 10 #repeat 'Hello' 10 time

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [ ]:
text = 'Im Frank, Run, P, J'
text.split(",")

In [ ]:
text.strip()
# remove beginning and ending space

In [37]:
text = """
Helodsankfgaippgjasgas
asgnpasngpasjg[assd
dsoa[dko[sadkas]]]
"""

In [38]:
print(text)

Helodsankfgaippgjasgas
asgnpasngpasjg[assd
dsoa[dko[sadkas]]]

In [39]:
print(text.strip())

Helodsankfgaippgjasgas
asgnpasngpasjg[assd
dsoa[dko[sadkas]]]

#### List

# list
list_01 = [] #create empty list
list_01

In [ ]:
list_01 = list()
list_01

In [40]:
# list
list_02 = [1,2,3,4] #create list with value inside
list_02

[1, 2, 3, 4]

In [41]:
list_02.pop(2)

3

In [42]:
list_02

[1, 2, 4]

In [43]:
list_01 = [] #create empty list
print(list_01 )
list_01.append("Hello")
list_01

[]

['Hello']

In [44]:
list_01.append("World")
list_01

['Hello', 'World']

In [ ]:
# remove the default : recent value - last value 
# remove with index
list_01.pop()

In [ ]:
list_01

In [45]:
#remove value with specific value
list_01.remove("Hello")

In [46]:
list_01

['World']

In [47]:
#list index
list_02 = [6,6,8,1,5]
list_02

[6, 6, 8, 1, 5]

In [48]:
list_02[2]

8

In [49]:
len(list_02)

5

In [50]:
# if call the index that is 5
list_02[5] #out of range

IndexError: list index out of range

In [51]:
list_02.append(10)
list_02[5]

10

In [52]:
#join 2 list 
list_01 = [1,2,3,4]
list_02 = [5,6,7,8]

In [53]:
list_01 + list_02

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
list_01 - list_02

TypeError: unsupported operand type(s) for -: 'list' and 'list'

#### Tuple

In [55]:
#  same as dict but it's inmutable 
tuple_01 = (1,2,3,4) 

#for me not often use