### Basic Python Print

In [ ]:
#Print 
print("Hello world")

In [ ]:
print("Hello", "World")
print("Hello", "World", "Run")

In [ ]:
print("Hello",end="")
print("Hello",end="\n")
print("Hello",end="\t")
print("Hello",end="")

In [ ]:
print("Helloworld") #using double quote 
print('Hellworld') #using single quote

#### Escape sequence

In [2]:
print("\")

/

In [ ]:
print("\\")
print("\'")
print("\"")
print("\n")
print("\t")

#### Input

In [ ]:
a = input() #base value is on base 10 charactor

In [ ]:
a = input("Some text for descript the input")
type(a)

In [ ]:
radius = int(input("Radius of circle")) #turn base 10 into int - number
type(radius)

#### Init valuable
1. ต้องขึ้นต้นด้วยตัวอักษร A-Z, a-z หรือเครื่องหมาย _ (Underscore) เท่านั้น 
2. ภายในชื่อตัวแปรสามารถใช้ตัวอักษร A-Z, a-z, 0-9 หรือเครื่องหมาย  _ (Underscore)
3. ภายในชื่อห้ามเว้นช่องว่างหรืออักษรพิเศษ 
4. Case Sensititive – ตัวอักษรพิมพ์ใหญ่และพิมพ์เล็กจะมีความหมายต่างกัน 
Ex. HEllO != HELLO
5. คำที่เป็น command ของ python : if else False True or while for with class list

In [ ]:
A = 123
a = 3
A, a  # 4 case sensitive

In [ ]:
1B = 5 #valuable ขึ้นต้นด้วยตัวเลขไม่ได้
hello world = "dsad"
Hello()wor = 123
Myname-is-run = 'Runnies'
if = 5 #value เป็น command python mai dai

#### Data Type 
1. Int 
2. Float
3. String
4. List
5. Tuple
6. Dict 
7. Sets

In [3]:
x = 3.13
type(x) #check the type of valueable

float

In [4]:
type(3.13) #check the type of valueable

float

In [ ]:
x = 3.14
print(x) #3.14 
print(int(x)) #turn into int -> not have decimal

In [5]:
type([1,2,3,4])

list

#### Archimetric

In [ ]:
+ - * /

In [ ]:
print(5+5)
print(6-5)
print(12*5)
print(2**5)
print(12/4) 
print(12 // 5)
print(12 % 5)
print( (10 - 4) * 2)

In [ ]:
2 ** 2 ** 3 #exponential order from right to left

256

In [ ]:
print(2 ** (2 ** 3))
print((2 ** 2) ** 3 )

256

#### Reference Value

In [ ]:
# Reference value 
# Mention to bug fix
# Error 
# turtle