### Init valuable
1. ต้องขึ้นต้นด้วยตัวอักษร A-Z, a-z หรือเครื่องหมาย _ (Underscore) เท่านั้น 
2. ภายในชื่อตัวแปรสามารถใช้ตัวอักษร A-Z, a-z, 0-9 หรือเครื่องหมาย  _ (Underscore)
3. ภายในชื่อห้ามเว้นช่องว่างหรืออักษรพิเศษ 
4. Case Sensititive – ตัวอักษรพิมพ์ใหญ่และพิมพ์เล็กจะมีความหมายต่างกัน 
Ex. HEllO != HELLO
5. คำที่เป็น command ของ python : if else False True or while for with class list

In [55]:
A = 123
a = 3
A, a  # 4 case sensitive

(123, 3)

In [56]:
1B = 5 #valuable ขึ้นต้นด้วยตัวเลขไม่ได้
hello world = "dsad"
Hello()wor = 123
if = 5 #value เป็น command python mai dai

SyntaxError: invalid decimal literal (3273700543.py, line 1)

### Data Type

In [58]:
int_type = 34 #ตัวเลขนจำนวนเต็ม
type(int_type)

int

In [8]:
float_type = 3.13
type(float_type)

float

In [ ]:
# float -> int  
int(3.14) # จะตัดทศนิยมทิ้ง ไม่ได้ปัด

3

In [60]:
# String จะใช้ double quotes  && single quotes ครุมตัวอักษร But จะคุมเเค่บรรทัดเดียว only
string = "Hello"
string = 'Hello' 

string = "he #จะ init value ไม่ได้ 
llo"

# case sensitive 
string = "Hello " world " #string เป็นอันเดียวกันเเล้วไม่ครบจะไม่ได้
string = "Hello"" "

#use triple double string to turn text 
string = """Helloworld
what is 
this"""

SyntaxError: unterminated string literal (detected at line 5) (522661550.py, line 5)

In [36]:
#Join - concat string
text = ""

In [37]:
text += "Hello"
# text = text + "Hello"
text

'Hello'

In [38]:
text = "123" + text
text

'123Hello'

In [39]:
len(text)

8

In [11]:
#Join string
lst_str = ["1.first", "2.Second","3.Third"] #init list of string

1.first 2.Second 3.Third

In [13]:
# print all the string in the list
print(" ".join(lst_str))

1.first 2.Second 3.Third

In [14]:
print("\n".join(lst_str))

1.first
2.Second
3.Third

In [16]:
print(", ".join(lst_str))

1.first, 2.Second, 3.Third

In [17]:
#print format string
print(f"Print : {lst_str}")

Print : ['1.first', '2.Second', '3.Third']

In [61]:
print(f"Print : {3.1425:.2f}")
print(f"Print : {3.1425:<20} Smth")
print(f"Print : {3.1425:^20} Smth")
print(f"Print : {3.1425:>20} Smth")
print(f"Print : {3.1425:>20.1f} Smth")

Print : 3.14
Print : 3.1425               Smth
Print :        3.1425        Smth
Print :               3.1425 Smth
Print :                  3.1 Smth

In [26]:
String_idx = "MyNameIsRun"
for index in range(len(String_idx)):
    print(f"{index} : {String_idx[index]}")

0 : M
1 : y
2 : N
3 : a
4 : m
5 : e
6 : I
7 : s
8 : R
9 : u
10 : n

In [30]:
String_idx[8:]

'Run'

In [31]:
String_idx[-3:]

'Run'

In [40]:
# start -> start + 1
String_idx[2:8]

'NameIs'

In [42]:
reversed_string = String_idx[::-1]
reversed_string

'nuRsIemaNyM'

In [44]:
print(String_idx)
print(String_idx.replace("Run","Frank"))
print(String_idx.replace("Run.","Frank"))

MyNameIsRun
MyNameIsFrank
MyNameIsRun

In [62]:
print("dsad dsadasdd dsda".replace(" ",""))

dsaddsadasdddsda

In [45]:
Charactor_operation = String_idx[5]
Charactor_operation

'e'

In [49]:
print(Charactor_operation.isalpha()) #	alphanumeric
print(Charactor_operation.isalnum()) #alphabet
print(Charactor_operation.isdecimal()) #decimals
print(Charactor_operation.isdigit()) #is number
print(Charactor_operation.islower()) #lower case 
print(Charactor_operation.isupper()) #upper case
print(Charactor_operation.isnumeric()) #numeric
print(Charactor_operation.isspace()) #space 
print(Charactor_operation.istitle()) 
print(Charactor_operation.isascii())#characters
print(Charactor_operation.isidentifier())

True
True
False
False
True
False
False
False
False
True
True

In [54]:
Charactor_operation.upper()
Charactor_operation.lower()

Charactor_operation.startswith("2")
Charactor_operation.endswith("e")

True

In [50]:
text = 'Im Frank, Run, P, J'
text.split(",")

['Im Frank', ' Run', ' P', ' J']

### List

In [ ]:
# list
list_01 = [] #create empty list
list_01

In [63]:
list_01 = list()
list_01

[]

In [64]:
# list
list_02 = [1,2,3,4] #create list with value inside
list_02

[1, 2, 3, 4]

In [10]:
list_01 = [] #create empty list
print(list_01 )
list_01.append("Hello")
list_01

[]

['Hello']

In [11]:
list_01.append("World")
list_01

['Hello', 'World']

In [12]:
list_01.pop()

'World'

In [13]:
list_01

['Hello']

In [14]:
list_01.remove("Hello")

In [15]:
list_01

[]

In [17]:
#list index
list_02 = [6,6,8,1,5]
list_02

[6, 6, 8, 1, 5]

In [18]:
list_02[2]

8

In [19]:
len(list_02)

5

In [21]:
# if call the index that is 5
list_02[5] #out of range

IndexError: list index out of range

In [ ]:
list_02.append(10)
list_02[5]

5

In [ ]:
## Dict & set

### Dict

In [36]:
Dict_ = {}
Set_ = {}


Dict_ = {
    "Key1" : 123,
    "Key2" : 321,
    "Run" : 1,
    "Frank" : 3,
    "Pee" : 5,
    "J" : 7
}

Set_ = {1,2,3,4}

In [37]:
Dict_

{'Key1': 123, 'Key2': 321, 'Run': 1, 'Frank': 3, 'Pee': 5, 'J': 7}

In [38]:
Dict_['Frank']

3

In [39]:
Dict_['Brook']

KeyError: 'Brook'

In [40]:
Dict_['Brook'] = 10
Dict_['Brook']

10

In [42]:
Dict_.keys()

dict_keys(['Key1', 'Key2', 'Run', 'Frank', 'Pee', 'J', 'Brook'])

In [43]:
Dict_.values()

dict_values([123, 321, 1, 3, 5, 7, 10])

In [45]:
print(Dict_.items())### often use in for loop - another operation

for key, value in Dict_.items():
    print(key)

dict_items([('Key1', 123), ('Key2', 321), ('Run', 1), ('Frank', 3), ('Pee', 5), ('J', 7), ('Brook', 10)])
Key1
Key2
Run
Frank
Pee
J
Brook

In [46]:
Dict_.pop("Key1")
Dict_

{'Key2': 321, 'Run': 1, 'Frank': 3, 'Pee': 5, 'J': 7, 'Brook': 10}

In [ ]:
Dict_.pop("Key2")
Dict_

{'Run': 1, 'Frank': 3, 'Pee': 5, 'J': 7, 'Brook': 10}

In [48]:
Dict_.get("Best",0)

0

In [50]:
Dict_.get("Frank",0)

3

In [ ]:
Dict_.update({"J" : 4})

In [53]:
Dict_, Dict_["J"]

({'Run': 1, 'Frank': 3, 'Pee': 5, 'J': 4, 'Brook': 10}, 4)

### Set

In [54]:
Set = set([1,2,3,4,6])
Set

{1, 2, 3, 4, 6}

In [57]:
Set.add(10)
Set.add(10)
Set

{1, 2, 3, 4, 6, 10}

In [58]:
Set.pop()

1

In [59]:
Set.remove(4)
Set

{2, 3, 6, 10}

### OOP 
allowing you to structure your code using classes and objects for better organization and reusability.

In [ ]:
class Person():
    def __init__(self): #init the value inside the class
        self.Name = "Run"

    def print_name(self): #init the function 
        print(self.Name)

In [67]:
person = Person()

In [68]:
person.print_name()

Run

In [69]:
person.Name

'Run'

In [ ]:
array = [1,3,5,7,9,11,13,15,17]
target = 13
answer = 0

for index, value in enumerate(array):
    if value == target:
        answer = index
        break

print(f"index : {answer} -> value : {array[answer]}")

index : 6 -> value : 13